
#banner {
    position: relative;
}

.banner__body {
    padding: 50px 50px 76px 50px;
    color: #ffffff;
    /* line-height: 40px; */
    background-image: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);
}

.banner__fly {
    position: absolute;
    color: #fff;
    z-index: 3;
    line-height: 1;
}

.banner__fly--first {
    top: 68px;
    left: 124px;
    font-size: 43px;
    transform: rotate(20deg);
}

.banner__fly--second {
    top: 260px;
    left: 246px;
    font-size: 55px;
    transform: rotate(20deg);
}

.banner__fly--third {
    top: 81px;
    right: 208px;
    font-size: 38px;
    transform: rotate(-10deg);
    
}

.banner__fly--fourth {
    top: 262px;
    right: 109px;
    font-size: 48px;
    transform: rotate(-10deg);
    
}

.banner__fly--fifth {
    top: 305px;
    right: 412px;
    font-size: 35px;
    transform: rotate(20deg);
}

.banner__title {
    font-size: 45px;
    line-height: 60px;
    padding: 0 114px;
    margin: 24px 0 36px 0;

}

.banner__description {
    font-size: 18px;
    padding: 0 114px;
    margin-left: 15px;
    text-indent: -15px;
}

@media (max-width: 1200px) { 
    .banner__fly--first {
        top: 24px;
        left: 155px;
        font-size: 29px;

    }

    .banner__fly--second {
        display: none;
    }

    .banner__fly--third {
        top: 292px;
        right: 95px;
        font-size: 38px;
    }

    .banner__fly--fourth {
        display: none;
    }

    .banner__fly--fifth {
        top: 306px;
        right: 455px;
        font-size: 23px;

    }

    .banner__body {
        padding: 50px 0 67px 0;
    }

    .banner__title {
        padding: 0;
    }

    .banner__description {
        padding: 0;
        font-size: 20px;
        line-height: 1.2;
    }
}

@media (max-width: 768px) {

    .banner__fly--first {
        display: none;
    }

    .banner__fly--third {
        display: none;
    }

    .banner__fly--fifth {
        display: none;
    }

    .banner__body {
        padding: 30px 20px 30px 20px;
    }

    .banner__title {
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
        margin: 11px 0 32px 0;
    }

    .banner__description {
        font-size: 15px;
        line-height: 30px;
    }

    .banner__description:first-line {
       padding-left:0;
    }
}