.main-header__ellipse {
    position: absolute;
  bottom: 9px;
  right: 0;
  width: 814px;
  height: 630px;
  overflow: hidden;
}

.main-header__ellipse svg{
    display: block;
    width: 100%;
    height: 100%;
  }


.main-header {
    position: relative;
    overflow: hidden;
}


.main-header__bar {
    display: flex;
    justify-content: space-between;
    padding: 43px 0 40px 0;
}

.main-header__burger {
    display: none;
}

.main-header__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-header__item {
    display: inline;
    margin-right: 30px;
    font-size: 16px;
}

.main-header__item:last-child {
    margin-right: 0;
}

.link:hover {
    color: #fc557c;
    border-bottom: 1px solid #fc557c;
    cursor: pointer;
}

.message__phone {
    position: relative;
    bottom: 10px;
    margin-right: 30px;
    font-size: 25px;
    font-weight: 700;
}

.message__phone:hover {
    color:#fc557c;
}

.message__button {
    position: relative;
    padding: 12px 36px;
    background-color: #fff;
    border: 1px solid #f82370;
    color: #f53f4f;
    bottom: 12px;
    font-size: 17px;
    transition: 1.5s;
}

.message__button:hover {
    background-color: #f82370;
    color: #fff;
    cursor: pointer;
}

.message__logo {
    display: none;
}

.main-header__body {
    min-height: 651px;

}

.main-header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
}

.main-header__fly {
    background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    position: absolute;
    z-index: 3;
    line-height: 1;

}


.fly-first {
  top: 138px;
  left: 130px;
  font-size: 43px;
  font-weight: 700;
  transform: rotate(25deg);
}

.fly-second {
    top: 373px;
    left: 248px;
    font-size: 55px;
    font-weight: 700;
    transform: rotate(15deg);
}

.fly-third {
    top: 674px;
    left: 381px;
    font-size: 38px;
    font-weight: 700;
    transform: rotate(-15deg);
}

.fly-fourth {
    top: 170px;
    left: 791px;
    font-size: 29px;
    font-weight: 700;
    transform: rotate(-15deg);
}

.fly-fifth {
    top: 542px;
    left: 949px;
    font-size: 35px;
    font-weight: 700;
    transform: rotate(25deg);

}

.fly-six {
    display: none;
}

.header-content__details {
    line-height: 1;
    margin-top: -33px;
    margin-bottom: 27px;
    z-index: 1;
}



.details__title {
    font-size: 77px;
    width: 724px;
    margin-top: -9px;
    margin-bottom: 24px;
}
.details__text {
    font-size: 25px;
    font-weight: 400;
    color: #8993ad;
}

.all-button {
    margin-top: 25px;
    /* padding: 22px 89px; */
    padding: 21px 70px;
    background-color: #ff4e2e;
    border: 1px solid #ff4e2e;
    color: #fff;
    font-size: 18px;
    transition: 1.5s;
}

.all-button:hover {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #f82370;
    color: #f82370;
}

.header-content__picture {
    position: relative;
    right: -81px;
    bottom: -4px;
}

.elipse__mob {
    display: none;
}




.arrow__shadow {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    border-radius: 50%;
}

@media (max-width: 1340px) {
    .header-content__picture {
        right: 0;
    }
}

@media (max-width: 1200px) {
    .main-header__ellipse {
        right: -170px;
        width: 678px;
        height: 524px;
    }

    .container {
        max-width: 946px;
    }
    .main-header__list {
        display: none;
    }

    .main-header__burger {
        display: block;
        position: relative;
        width: 45px;
        height: 35px;
    }

    .main-header__burger_span {
        position: absolute;
        background-color: #ff2f96;
        position: absolute;
        width: 100%;
        height: 5px;
        top: 15px;
    }

    .main-header__burger:before,
    .main-header__burger:after {
        content: "";
        background-color: #ff2f96;
        position: absolute;
        width: 100%;
        height: 5px;
        left: 0;
    }

    .main-header__burger:before {
        top: 0;
    }

    .main-header__burger:after {
        bottom: 0;
    }

    .main-header__burger.active span {
        transform: scale(0);
    }

    .main-header__burger.active:before {
        transform: rotate(45deg);
        top: 19px;
    }

    .main-header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 10px;
    }

    .message__phone {
        bottom: 0;
    }

    .message__button {
        bottom: 0;
    }

    .main-header__list {
        position: absolute;
        display: none;
        left: 0px;
        top: 70px;
        background: #ff2f96;
        width: 250px;
        z-index: 4;

        
    }

    .main-header__list.active {
        display: block;
    }

    .main-header__item {
        display: block;
        margin-right: 30px;
        font-size: 16px;
        padding: 35px;
        border-bottom: 1px solid;
    }

    .main-header__item:last-child {
        border: none;
    }

    .fly-first {
        top: 160px;
        left: 77px;
        font-size: 43px;
        font-weight: 700;
        transform: rotate(25deg);
      }
      
      .fly-second {
          top: 639px;
          left: 58px;
          font-size: 55px;
          font-weight: 700;
          transform: rotate(15deg);
      }
      
      .fly-third {
          top: 588px;
          left: 361px;
          font-size: 38px;
          font-weight: 700;
          transform: rotate(-15deg);
      }
      
      .fly-fourth {
          top: 153px;
          right: 68px;
          left: auto;
          font-size: 29px;
          font-weight: 700;
          transform: rotate(-15deg);
      }
      
      .fly-fifth {
        display: none;
      
      }

      .fly-six {
          display: inline;
        top: 240px;
        left: 423px;
        font-size: 45px;
        font-weight: 700;
        transform: rotate(15deg);
      }

    .header-content__details {
        margin-top: -21px;
        margin-bottom: 5px;
    }

    .all-button {
        padding: 23px 98px;
    }

    .main-header__content {
        min-height: 659px;
    }

    .header-content__picture {
        right: 0;
        bottom: -5px;
    }

    .details__title {
        font-size: 54px;
        width: 505px;
        margin-top: -5px;
    }
}

@media (max-width: 840px) {
    .main-header__ellipse {
        bottom: auto;
        top: 177px;
        width: 380px;
        height: 294px;
        right: -30px;
    }

    .header-content__picture {
        bottom: 15px;
        right: -30px;
    }
    .main-main-header__content {
        background: none;
        background-repeat: no-repeat;
        position: relative;
        min-height: 520px;
    }


    .main-header__content {
        flex-direction: column;
        min-height: 520px;
        padding-top: 34px;
    }
    .details__title {
        font-size: 29px;
        display: inline;
    }

    .details__text {
        font-size: 16px;
        line-height: 1.5;
    }

    .header-content__details {
        margin-bottom: 0;
        margin-top: 5px;
        text-align: center;
    }

    .all-button {
        padding: 17px 78px;
        margin-top: 7px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {

    .main-header__body {
        min-height: 590px;
    }

    .container {
        max-width: 280px;
        padding: 0;
    }

    .main-header__burger {
        width: 25px;
        height: 16px;
    }

    .main-header__burger_span {
        top: 7px;
        height: 2px;
    }

    .main-header__burger:before, .main-header__burger:after {
        
        height: 2px;
    }

    .main-header__burger.active:before {
        top: 4px;
    }

    .message__phone {
        font-size: 18px;
        top: -10px;
        position: relative;
    }

    .message__button {
        display: none;
    }

    .message__logo {
        display: inline;
    }

    .main-header__list {
        width: 140px;
    }

    .main-header__item {
        padding: 15px;
        margin-right: 0;
    }

    .fly-first {
        top: 105px;
        left: 49px;
        font-size: 22px;
        font-weight: 700;
        transform: rotate(25deg);
      }
      
      .fly-second {
          top: 210px;
          left: 37px;
          font-size: 28px;
          font-weight: 700;
          transform: rotate(15deg);
      }
      
      .fly-third {
          top: 85px;
          left: auto;
          right: 122px;
          font-size: 16px;
          font-weight: 700;
          transform: rotate(-15deg);
      }
      
      .fly-fourth {
          top: 145px;
          right: 39px;
          left: auto;
          font-size: 14px;
          font-weight: 700;
          transform: rotate(15deg);
          
      }
      
      .fly-fifth {
        display: none;
      
      }

      .fly-six {
        display: none;
      }

    .header-content__picture {
        bottom: 0;
        right: -30px;
    }

}